{% extends 'app/layout/base.html' %}
{% load static %}
{% block content %}



<header class="header">
    <img src="https://images.pexels.com/photos/3727469/pexels-photo-3727469.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    <div class="header-text">
        <h1>Contactez Nous</h1>
       <small class="small"><a href="{% url 'welcome' %}" style="color:#178066;">Accueil </a> / Contact</small>
    </div>
</header>
<section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Contact
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container contact-form">
            <form id="contact-form" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
              <div id="contact-form" class="form-row">
                <div class="col-lg-6">
                  <div>
                    <input type="text" placeholder="Nom" v-model='name' />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div>
                    <input type="text" placeholder="Téléphone" v-model="phone" />
                  </div>
                </div>
              </div>
              <div>
                <input type="email" placeholder="Email" v-model="email" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" v-model="messages" />
              </div>
              <div class="btn_box" >
                <button @click.prevent='sendDataContact'>
                  ENVOYER
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

