{% extends 'app/layout/base.html' %}
{% load static %}
{% block content %}
  <!-- department section -->
  <style>
    .return{
      position: absolute;
      right: 3%;
      top: 2%;
    }

    .return a{
      text-decoration: none;
      color: #333;
      font-weight: 700;
    }

    .return i{
      font-size: 26px;
    }
  </style>

  <div class="return">
    <a href="{% url 'welcome' %}"><i class="fa-solid fa-xmark"></i></a>
  </div>


  {% include "app/include/_service.html" %}

  <!-- end department section -->

{% endblock content %}